.select {
  padding: 10px 20px;
  background-color: #B6C5D9;
  text-align: center;
  border-radius: 10px;
  font-size: 20px;
  border-style: hidden;
  text-decoration-line: none;
  color: #ffffff;
  font-weight: bold;
  display: inline-block;
  transition: background-color 1s;
  margin-right: 10px;
  margin-bottom: 5px;
}

.select:hover {
  background-color: #2A3C54;
}

.confirm {
  padding: 10px 20px;
  background-color: #B6C5D9;
  text-align: center;
  border-radius: 10px;
  font-size: 20px;
  border-style: hidden;
  text-decoration-line: none;
  color: #ffffff;
  font-weight: bold;
  display: inline-block;
  transition: background-color 0.5s;
  margin-right: 10px;
  margin-bottom: 5px;
}

.confirm:hover {
  background-color: #2A3C54;
}

.end {
  padding: 10px 20px;
  background-color: #ff2499;
  text-align: center;
  border-radius: 10px;
  font-size: 20px;
  border-style: hidden;
  text-decoration-line: none;
  color: #ffffff;
  font-weight: bold;
  display: inline-block;
  transition: background-color 0.5s;
  margin-right: 10px;
  margin-bottom: 5px;
}

.end:hover{
  background-color: #290008;
}

.bimg {
  border-radius: 5px;
  margin: 10px;
  height: 140px;
  margin-bottom: -20px;
}

body {
  margin-left: 40px;
  margin-top: 20px;
  background-color: #ffffff;
}

@font-face {
  font-family: 'Pretendard-Regular';
  src: url('https://fastly.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff') format('woff');
  font-weight: 400;
  font-style: normal;
}